body {
    font-family: Arial, sans-serif;
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.center-box h1 {
    margin-bottom: 1em;
}

.center-box a {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Agrega esta línea para quitar el borde */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.center-box a:hover {
    background-color: black;
    color: white;
}

